<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- usando o template basico, removemos tudo dentro de ion-content e incluimos o card abaixo -->
  <!-- repare o *ngFor que estamos fazendo, a variável cards é a mesma do home.ts que alimentamos com a lista que o provider devolveu  -->
  <ion-card *ngFor="let card of cards"> 
    <!-- agora para cada item da lista ele vai escrever um card -->
    <ion-card-header>
      {{ card.title }} 
    </ion-card-header>
    <ion-card-content>
      {{ card.desc }}
    </ion-card-content>
  </ion-card>
</ion-content>
